{% block subject 'Aanpassing Klusbib afspraken' %}

{% block body %}
Beste {{ user.firstname }},<br><br>
<p>
De Mechelse gereedschapsbibliotheek, Klusbib, bestaat nu bijna anderhalf jaar. In die periode mochten we jou als steunend of actief lid verwelkomen waarvoor oprechte dank.
</p><p>
Na anderhalf jaar is het tijd om onze 'Klusbib afspraken' even door te nemen om ons voor te bereiden op onze tweede verjaardag. <br>
Daarnaast werkten wij ook een privacy verklaring uit waarin wij toelichten hoe we omgaan met je persoonsgegevens.<br>
In bijlage vind je beide documenten terug.
</p><p>
Belangrijkste keuze die we maken is om het lidmaatschap bij nieuwe inschrijving te verhogen naar 30 euro per jaar. Verlengingen blijven echter slechts 20 euro.<br>
Deze nieuwe regeling gaat in vanaf 1 januari 2019.
</p><p>
Wij hopen dat je de Klusbib blijft steunen om samen als burgers de transitie naar een duurzaam en klimaatneutaal Mechelen in te zetten.
</p><p>
Vrolijke kerstgroeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}

