{% block subject 'Wijziging levering/ophaling' %}

{% block body %}
Beste,<br><br>
<p>
{% if delivery.type == 'PICKUP' %}Er werd een ophaling gewijzigd<br>{% endif %}
{% if delivery.type == 'DROPOFF' %}Er werd een levering gewijzigd<br>{% endif %}
ID: {{ delivery.id }}<br>
Reden voor wijziging: {% if reason is null %}Niet opgegeven{% else %}{{ reason }}{% endif %}<br>
Huidige status: {{ delivery.state }}<br>
</p><p>
Details:<br>
Gebruiker {{ user.first_name }} {{ user.last_name }} (user id: {{ user.id }}) wenst volgende toestellen te laten
{% if delivery.type == 'PICKUP' %}ophalen op {{ delivery.pick_up_date | date("Y-m-d") }}:{% endif %}
{% if delivery.type == 'DROPOFF' %}leveren op {{ delivery.drop_off_date | date("Y-m-d") }}:{% endif %}
<br/>
<ul>
    {% for item in delivery.deliveryItems %}
        <li>{{ item.inventoryItem.sku }} - {{ item.inventoryItem.name }}
            (merk: {{ item.inventoryItem.brand }}, afmetingen: {{ item.inventoryItem.size }}{% if delivery.type == 'DROPOFF' %}, forfait: {{ item.inventoryItem.loan_fee }}{% endif %})
        </li>
    {% endfor %}
</ul>
Extra verbruiksmaterialen / handgereedschap: {{ delivery.consumers }}<br/>
Opmerkingen: {{ delivery.comment }}
</p>
<p>
    {% if delivery.type == 'PICKUP' %}
    Adres voor ophaling: {{ delivery.pick_up_address }}
    {% endif %}
    {% if delivery.type == 'DROPOFF' %}
    Adres voor levering: {{ delivery.drop_off_address }}<br/>
    // TODO: check if delivery price is set, if not add warning that delivery price should be set before confirmation

    {% if delivery.price is null %}
        Totale prijs voor deze levering moet nog bepaald worden
    {% elseif delivery.price > 0 %}
        Er zal een totale kostprijs aangerekend worden van {{ delivery.price }} euro (opgelet: enkel te betalen via Payconiq)
    {% else %}
        Deze levering is gratis
    {% endif %}
    {% endif %}
</p>
<p>
    {% if delivery.price is null %}
        Gelieve de totale prijs te bepalen van deze levering via de <a href="{{ inventoryLink }}" >inventaris</a>
    {% elseif delivery.state == 'REQUESTED' %}
        Gelieve de levering te bevestigen via de <a href="{{ inventoryLink }}" >inventaris</a> en/of contact op te nemen met de gebruiker voor verder praktische afspraken
        (email: <a href="mailto:{{ user.email }}" >{{ user.email }}</a>)
    {% endif %}
</p>
<p>
Voor meer details, raadpleeg de levering op <a href="{{ inventoryLink }}" >inventaris</a> en/of neem contact op met de gebruiker voor verder praktische afspraken
(email: <a href="mailto:{{ user.email }}" >{{ user.email }}</a>)
</p>
<p>
Met vriendelijke groeten<br>
Admin<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}
