{% block subject 'Klusbib inschrijving' %}

{% block body %}
Beste {{ user.firstname }},<br><br>

<p>Welkom bij Klusbib!<br>
Graag bedanken we je alvast voor het vertrouwen en hopen we je zo snel mogelijk te zien in de Klusbib voor je eerste ontlening.<br>
Voor alle info over onze openingsuren en afspraken verwijzen we je graag door naar onze <a href="{{ webpageLink }}" >website</a>.</p><br>
{% if paymentMode == 'TRANSFER' and not paymentCompleted %}<p>
Je koos voor een betaling via overschrijving. Mogen we je vragen om {{ amount |number_format}} &euro; op rekeningnummer <b>{{ account }}</b> te storten
met als mededeling <i>'{{ user.firstname }} {{ user.lastname }} - lidmaatschap {{ membership_year }}'</i>.<br>
Van zodra we je betaling ontvangen zullen we je account activeren.
</p><br>{% endif %}
{% if paymentMode == 'STROOM' %}<p>
Je gaf aan in te schrijven via het Stroom project.<br>
Wij nemen contact voor je op met de project verantwoordelijke om je inschrijving verder te verwerken, zelf dien je hier niets voor te doen<br>
Van zodra je inschrijving bevestigd is zullen we je account activeren en krijg je hiervan een bericht.<br>
Mocht je echter niets meer vernemen binnen de komende 2 weken, dan liep er waarschijnlijk iets mis en kan je best opnieuw contact met ons opnemen of met de project verantwoordelijke
</p><br>{% endif %}
{% if confirmEmail %}<p>
Mogen we je vragen om alvast te bevestigen voor ontvangst door op onderstaande link te klikken:<br>
<a href='{{ link }}'>{{ link }}</a> (geldig gedurende 48u)<br>
Zo weten wij zeker dat er geen fout geslopen is in je email adres<br>
</p><br>{% endif %}
{% if paymentMode == 'STROOM' %}<p>
Ook vernemen we graag welk gereedschap je naar op zoek bent, zodat we gericht ons aanbod kunnen aanvullen.<br>
Neem je even de tijd om onderstaande enquete in te vullen?<br>
<a href="{{ enqueteLink }}" >{{ enqueteLink }}</a>
</p><br>{% endif %}

<p>
Om van de laatste nieuwtjes op de hoogte te blijven kan je ons ook volgen via onze <a href="{{ facebookLink }}">facebook pagina</a>.<br>
Mocht je nog vragen of bedenkingen hebben dan horen we het graag. Enkel hierdoor kunnen wij onze werking verder uitbouwen.<br>
</p><br>
<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}




