{% block subject 'Nieuwe inschrijving voltooid' %}

{% block body %}
<p>Beste,</p>
<p>Via de website werd een {% if isRenewal %}lidmaatschap hernieuwing{% else %}nieuw lidmaatschap{% endif %} succesvol afgerond<br/>
    {% if isRenewal %}
    {{ newUser.firstname }} {{ newUser.lastname }} verlengde zijn lidmaatschap en heeft nu status '{{ newUser.state }}' (user id: {{ newUser.user_id }} )
    {% else %}
    Er werd een nieuwe gebruiker {{ newUser.firstname }} {{ newUser.lastname }}
    aangemaakt met status '{{ newUser.state }}' (user id: {{ newUser.user_id }} )
    {% endif %}<br/>
    Deze gebruiker koos ervoor om te betalen via {{ newUser.payment_mode }}  <br/>
    Lidmaatschap loopt van {{ newUser.membership_start_date }} tot {{ newUser.membership_end_date }}
</p>
<p>
    Groetjes,<br/>
    Admin.
</p>
{% endblock %}




