{% block subject 'Klusbib inschrijving' %}

{% block body %}
Beste {{ user.firstname }},<br><br>

<p>Welkom bij Klusbib!<br>
Graag bedanken we jou alvast voor het vertrouwen en hopen we jou zo snel mogelijk te zien in de Klusbib voor je eerste ontlening.<br>
Voor alle info over onze openingsuren en afspraken verwijzen we jou graag door naar onze <a href="{{ webpageLink }}" >website</a>.</p>
{% if paymentMode == 'TRANSFER' %}<p>
Je koos voor een betaling via overschrijving. Mogen we je vragen om {{ amount }} &euro; op rekeningnummer <b>{{ account }}</b> te storten
met als mededeling <i>'{{ user.firstname }} {{ user.lastname }} - lidmaatschap {{ membership_year }}'</i>.<br>
Van zodra we je betaling ontvangen zullen we je account activeren.
</p>{% endif %}
<p>
Om van de laatste nieuwtjes op de hoogte te blijven kan je ons ook volgen via onze <a href="{{ facebookLink }}">facebook pagina</a>.<br>
Mocht je nog vragen of bedenkingen hebben dan horen we het graag. Enkel hierdoor kunnen wij onze werking verder uitbouwen.<br>
</p>
<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}




