{% block subject %}
{% if isRenewal %}Verlenging{% else %}Inschrijving{% endif %} via STROOM project
{% endblock %}

{% block body %}
<p>Beste,</p>
<p>
De {% if not isRenewal %}nieuwe{% endif %} gebruiker {{ newUser.first_name }} {{ newUser.last_name }} gaf aan {% if isRenewal %}zijn/haar lidmaatschap te verlengen{% else %}in te schrijven{% endif %} via het STROOM project<br/>
Gelieve te verifiëren of deze gebruiker aan alle voorwaarden voldoet (adres binnen STROOM wijk) en manueel de {% if isRenewal %}verlenging{% else %}inschrijving{% endif %} te bevestigen<br/>
Huidige status: '{{ newUser.state }}' (user id: {{ newUser.id }} )<br/>
Adres: {{ newUser.address_line_1 }}, {{ newUser.address_line_4 }} {{ newUser.address_line_2 }}
</p>
<p>
Stuur deze mail door naar {{ emailLink }} met vermelding of de gebruiker al dan niet in aanmerking komt voor deelname aan STROOM project,
dan zorgen wij dat zijn/haar lidmaatschap {% if isRenewal %}verlengd{% else %}geactiveerd{% endif %} wordt zodat hij/zij materiaal kan ontlenen.
</p>

<!-- TODO: add link to trigger POST on API
-> confirm user enrolment with stroom payment mode and using a temporary token in Authorization Bearer header (2 weeks validity?)
needs jquery?? possible in email??
Or add link to page to confirm or deny enrolment? -->

<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}




