{% block subject 'Paswoord Vergeten' %}

{% block body %}
    Beste {{ user.firstname }},<br><br>
    <p>
        Klik op deze link om je paswoord te herstellen<br>
        <a href='{{ link }}'>{{ link }}</a><br><br>
    </p>
    <p>
        Heb je geen paswoord reset aangevraagd, dan kan je dit bericht veilig negeren
    </p>
    <p>
        Met vriendelijke groeten<br>
        Het Klusbib-team<br>
        E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
        W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
    </p>
{% endblock %}
