{% block subject 'Klusbib lidmaatschap' %}

{% block body %}
Beste {{ user.firstname }},<br><br>
<p>Op {{ user.membership_end_date | date("j F Y") }} {%  if user.membership_end_date < currentDate %}liep{% else %}loopt{% endif %} je lidmaatschap bij Klusbib ten einde.<br>
We willen je alvast bedanken voor je vertrouwen en hopen dat je ook het komende jaar verder gebruik zal maken van de Klusbib.
</p>
<p>
Verleng daarom vandaag nog je lidmaatschap en blijf ervan genieten tem 31 december 2019
    <ul>
        <li>
hetzij online <a href='{{ link }}'>{{ link }}</a>
         </li>
        <li>
hetzij via overschrijving: stort {{ amount }} &euro; op rekeningnummer <b>{{ account }}</b>
met als mededeling <i>'{{ user.firstname }} {{ user.lastname }} - lidmaatschap {{ membership_year }}'</i>
        </li>
    </ul>
</p>
<p>
Let op! Vanaf januari stijgt de prijs voor een (ver)nieuw(d) lidmaatschap naar 30 &euro;!
</p>
<p>
Kies je toch om niet te verlengen laat ons dan hier in nog geen 5 seconden weten waarom<br>
<a href='{{ evaluationLink }}'>{{ evaluationLink }}</a> (anoniem)
</p>
<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}

