{% block subject 'Klusbib hernieuwing lidmaatschap' %}

{% block body %}
Beste {{ user.first_name }},<br><br>

<p>
Bedankt voor je blijvende steun!
</p>

{% if paymentMode == 'TRANSFER' and not paymentCompleted %}<p>
Je koos voor een betaling via overschrijving. Mogen we je vragen om {{ amount }} &euro; op rekeningnummer <b>{{ account }}</b> te storten
{% if isCompany %}
met als mededeling <i>'{{ user.company }} - lidmaatschap {{ membership_year }}'</i>
{% else %}
met als mededeling <i>'{{ user.first_name }} {{ user.last_name }} - lidmaatschap {{ membership_year }}'</i>
{% endif %}<br>
Van zodra we je betaling ontvangen zullen we je lidmaatschap verlengen.
</p>{% elseif paymentMode == 'STROOM' %}<p>
Je gaf aan je lidmaatschap te willen verlengen via het Stroom project.<br>
Wij nemen contact voor je op met de project verantwoordelijke om je aanvraag verder te verwerken, zelf dien je hier niets voor te doen<br>
Van zodra je aanvraag bevestigd is zullen we je lidmaatschap verlengen en krijg je hiervan een bericht.<br>
Mocht je echter niets meer vernemen binnen de komende 2 weken, dan liep er waarschijnlijk iets mis en kan je best opnieuw contact met ons opnemen of met de project verantwoordelijke
</p>{% else %}<p>
{% if (paymentMode == 'TRANSFER' or paymentMode == 'CASH') and paymentCompleted %}
We hebben je betaling goed ontvangen.<br>
{% endif %}
Je lidmaatschap is nu verlengd tot {{ user.membership_end_date | date('Y-m-d') }}
</p>{% endif %}
{% if resetPwd %}<p>
Alle gegevens over je lopende lidmaatschap kan je ook raadplegen op je profiel pagina.
Om hier op in te loggen dien je wel eerst een paswoord te kiezen via deze link:<br>
<a href='{{ resetPwdLink }}'>{{ resetPwdLink }}</a> (geldig gedurende 48u)<br><br>
</p>{% endif %}
{% if paymentMode == 'STROOM' %}<p>
Ook vernemen we graag welk gereedschap je naar op zoek bent, zodat we gericht ons aanbod kunnen aanvullen.<br>
Neem je even de tijd om onderstaande enquete in te vullen?<br>
<a href="{{ enqueteLink }}" >{{ enqueteLink }}</a>
</p><br>{% endif %}

<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}




