{% block subject 'Klusbib hernieuwing lidmaatschap' %}

{% block body %}
Beste {{ user.firstname }},<br><br>

<p>
Bedankt voor je blijvende steun!
</p>

{% if paymentMode == 'TRANSFER' and not paymentCompleted %}<p>
Je koos voor een betaling via overschrijving. Mogen we je vragen om {{ amount }} &euro; op rekeningnummer <b>{{ account }}</b> te storten
met als mededeling <i>'{{ user.firstname }} {{ user.lastname }} - lidmaatschap {{ membership_year }}'</i>.<br>
Van zodra we je betaling ontvangen zullen we je lidmaatschap verlengen.
</p>{% elseif paymentMode == 'STROOM' %}<p>
Je gaf aan je lidmaatschap te willen verlengen via het Stroom project.<br>
Wij nemen contact voor je op met de project verantwoordelijke om je aanvraag verder te verwerken, zelf dien je hier niets voor te doen<br>
Van zodra je aanvraag bevestigd is zullen we je lidmaatschap verlengen en krijg je hiervan een bericht.<br>
Mocht je echter niets meer vernemen binnen de komende 2 weken, dan liep er waarschijnlijk iets mis en kan je best opnieuw contact met ons opnemen of met de project verantwoordelijke
</p>{% else %}<p>
Je lidmaatschap is nu verlengd tot {{ user.membership_end_date }}
</p>{% endif %}
{% if paymentMode == 'STROOM' %}<p>
Ook vernemen we graag welk gereedschap je naar op zoek bent, zodat we gericht ons aanbod kunnen aanvullen.<br>
Neem je even de tijd om onderstaande enquete in te vullen?<br>
<a href="{{ enqueteLink }}" >{{ enqueteLink }}</a>
</p><br>{% endif %}

<p>
Met vriendelijke groeten<br>
Het Klusbib-team<br>
E: <a href="mailto:{{ emailLink }}" >{{ emailLink }}</a><br>
W: <a href="{{ webpageLink }}" >{{ webpageLink }}</a><br>
</p>
{% endblock %}




